@(chartDatas: List[String], dayDatas: List[String], chartDatasHumidity: List[String], mongoDataTempRaw: List[String], mongoDataTempAgr: List[String], mongoDataHumiRaw: List[String], mongoDataHumiAgr: List[String], mongoDataWindRaw: List[String], mongoDataWindAgr: List[String], mongoDataRainRaw: List[String], mongoDataRainAgr: List[String], mongoDataAirRaw: List[String], mongoDataAirAgr: List[String], allDayTemp: List[Object], allDayHumi: List[Object], allDayRain: List[Object], allDayAir: List[Object])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>WHAT ARE YOU DOING STALKER</title>
        <!-- load d3.min.js and c3.min.js/css-->
        <script src="@routes.Assets.versioned("javascripts/lib/d3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/c3.min.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/lib/c3.min.css")" rel="stylesheet" media="screen">

        <!-- load jquery before bootstrap-->
        <script src="@routes.Assets.versioned("javascripts/lib/jquery-2.2.4.js")" type="text/javascript"></script>

        <!-- load bootstrap js and css (bootstrap JS MUST be after jquery) -->
        <script src="@routes.Assets.versioned("javascripts/lib/bootstrap.min.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/lib/bootstrap.min.css")" rel="stylesheet" media="screen">

        <!-- load custom assets in public/javascripts for js files and public/stylesheets for css files -->
        <script src="@routes.Assets.versioned("javascripts/therm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/displayData.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lineTemp.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lineTherm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/gaugeChart.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/compass.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" media="screen">
    </head>

    <body>
        <!-- MODAL -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                        <h4 class="modal-title" id="myModalLabel">Temperature</h4> <!-- need to find a way to display every data the user wants -->
                    </div>
                    <div class="modal-body">
                        <div id="graph"></div>
                    </div>
                </div>
            </div>
        </div>
        <header id="main">
            <div class="container">
                <span class="title">Weather observation app.</span><br>
                <span class="subtittle">not even alpha version aka. "blackie", 'cause design ain't my thing</span>
            </div>
        </header>

        <!-- PANELS -->
        <div class="container" id="main-container"> <!-- open body container -->
            <div class="row"> <!-- open row 1-->
                <div class="col-md-4"> <!-- col md 4 for panel temperature -->
                    <div class="panel panel-default" id="panel1"> <!-- panel temperature -->
                        <div class="panel-heading" id="panel-header-box"> <!-- panel temperature header -->
                            <h1 id="header-rowcol">Temperature</h1>
                        </div>
                        <div class="body-panel-content">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div id="thermometer"></div>
                                    </td>
                                    <td id="rightColumn">
                                        <script type="text/javascript">
                                            var arrayTherm = [],
                                                tmp = [],
                                                min = 0,
                                                max = 0,
                                                cur = 0,
                                                minTime = "",
                                                maxTime = "",
                                                curTime = "";
                                            @for(d <- 0 until dayDatas.size()) {
                                                var tmp = "@dayDatas.get(d)".split("|");
                                                arrayTherm.push([parseInt(tmp[0]),tmp[1].slice(0,-3 ).replace(":", "H")]);
                                            }
                                            plotThermometer(arrayTherm);
                                            for (var i = 0; i < arrayTherm.length; i++) {
                                                if ( i == 0) {
                                                    min = arrayTherm[i][0];
                                                    minTime = arrayTherm[i][1];
                                                    max = arrayTherm[i][0];
                                                    maxTime = arrayTherm[i][1];
                                                } else {
                                                    if (arrayTherm[i][0] < min) {
                                                        min = arrayTherm[i][0];
                                                        minTime = arrayTherm[i][1];
                                                    }
                                                    if (arrayTherm[i][0] > max) {
                                                        max = arrayTherm[i][0];
                                                        maxTime = arrayTherm[i][1];
                                                    }
                                                }
                                                cur = arrayTherm[i][0];
                                                curTime = arrayTherm[i][1];
                                            }
                                            document.write("<span id=\"dataHeader\">Latest temperature</span><br><span id=\"dataValue\">" + cur + "&#8451</span><span id=\"timeValue\">" + curTime + "</span><br>");
                                            document.write("<span id=\"dataHeader\">Max today</span><br><span id=\"dataValue\">" + max + "&#8451</span><span id=\"timeValue\">" + maxTime + "</span><br>");
                                            document.write("<span id=\"dataHeader\">Min today</span><br><span id=\"dataValue\">" + min + "&#8451</span><span id=\"timeValue\">" + minTime + "</span><br>");
                                        </script>
                                        <button class="btn btn-primary btn-lg" id="buttonTemp" data-toggle="modal" data-target="#myModal">Graph</button>
                                    </td> <!-- close right column -->
                                </tr>
                            </table>
                        </div> <!-- close body panel temperature -->
                    </div> <!-- close panel temperature -->
                </div> <!-- close col md 4 for temperature -->

                <div class="col-md-4"> <!-- open col md 4 for panel humidity -->
                    <div class="panel panel-default" id="panel2"> <!-- open panel humidity -->
                        <div class="panel-heading" id="panel-header-box"> <!-- open panel humidity header -->
                            <h1 id="header-rowcol">Humidity</h1>
                        </div> <!-- close panel humidity header -->
                        <div class="body-panel-content">
                            <div id="humidity-gauge"></div>
                            <script type="text/javascript">
                                var arrayGaugeHumidity = [];
                                @for(d <- 0 until dayDatas.size()) {
                                    var tmp = "@dayDatas.get(d)".split("|");
                                    arrayGaugeHumidity.push([parseInt(tmp[0]),tmp[1].slice(0,-3 ).replace(":", "H")]);
                                    drawGaugeChart(20);
                                }
                            </script>
                            <hr>
                            <table>
                                <tr>
                                    <td class="col-md-2">
                                        <span id="dataHeader">Information 1:</span><span id="humDataValue"> value 1</span><br>
                                        <span id="dataHeader">Information 2:</span><span id="humDataValue"> value 2</span><br>
                                        <div id="dots">
                                            .<br>
                                            .<br>
                                            .<br>
                                        </div>
                                        <span id="dataHeader">Information n:</span><span id="humDataValue"> value n</span><br>
                                    </td>
                                    <td class="col-md-2" id="humRightColumn">
                                        <button class="btn btn-primary btn-lg" id="buttonHum" data-toggle="modal" data-target="#myModal">Graph</button>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- close body panel humidity -->
                    </div> <!-- close panel -->
                </div> <!-- close col-md-4 -->

                <div class="col-md-4"> <!-- col md 4 for panel wind -->
                    <div class="panel panel-default" id="panel3"> <!-- panel wind -->
                        <div class="panel-heading" id="panel-header-box"> <!-- panel wind header -->
                            <h1 id="header-rowcol">Wind</h1>
                        </div> <!-- close panel wind header -->
                       <div class="body-panel-content">
                        <!-- <div id="compass"></div> -->
                            <script type="text/javascript">
@**                                var arrayWindDataRaw = [];
                                @for(d <- 0 until allDayWind.size()) {
                                    arrayWindDataRaw.push(@allDayWind.get(d))
                                }
                                displayDataWind(arrayWindDataRaw);**@
                            </script>
                            <span id="dataHeader">Latest value:</span><span id="windDataValue"></span><br>
                            <span id="dataHeader">Today's min:</span><span id="windDataValue"></span><br>
                            <span id="dataHeader">Today's max:</span><span id="windDataValue"></span><br>
                        </div>
                    </div> <!-- close panel wind-->
                </div> <!-- close col md 4 for panel wind-->
            </div>

            <div class="row"> <!-- open row 2-->
                <div class="col-md-4"> <!-- open col panel rain -->
                    <div class="panel panel-default" id="panel4"> <!-- open panel rain -->
                        <div class="panel-heading" id="panel-header-box"> <!-- open header panel rain -->
                            <h1 id="header-rowcol">Rain</h1>
                        </div> <!-- close header panel rain -->
                        <div class="body-panel-content"> <!-- open body panel rain -->
                            <span id="dataHeader">Latest value:</span> <span id="rainDataValueCur"></span> || <span id="rainDataTimeCur"></span><br>
                            <span id="dataHeader">Today's min:</span> <span id="rainDataValueMin"></span> || <span id="rainDataTimeMin"></span><br>
                            <span id="dataHeader">Today's max:</span> <span id="rainDataValueMax"></span> || <span id="rainDataTimeMax"></span><br>
                            <span id="dataHeader">Today's average:</span> <span id="rainDataValueAvg"></span><br>
                            <script type="text/javascript">
                                var arrayRainDataRaw = []
                                @for(d <- 0 until allDayRain.size()) {
                                    arrayRainDataRaw.push(@allDayRain.get(d))
                                }

                                displayRainData(arrayRainDataRaw)
                            </script>
                        </div> <!-- close body panel rain -->
                    </div> <!-- close panel rain-->
                </div> <!-- close col md 4 for panel rain -->

                <div class="col-md-4"> <!-- open col panel air quality -->
                    <div class="panel panel-default" id="panel5"> <!-- open panel air quality -->
                        <div class="panel-heading" id="panel-header-box"> <!-- open header panel air quality -->
                            <h1 id="header-rowcol">Air quality</h1>
                        </div> <!-- close header panel air quality -->
                        <div class="panel-body-content"> <!-- open body panel air quality -->
                            <span id="dataHeader">Latest value:</span> <span id="airDataValueCur"></span> || <span id="airDataTimeCur"></span><br>
                            <span id="dataHeader">Today's min:</span> <span id="airDataValueMin"></span> || <span id="airDataTimeMin"></span><br>
                            <span id="dataHeader">Today's max:</span> <span id="airDataValueMax"></span> || <span id="airDataTimeMax"></span><br>
                            <span id="dataHeader">Today's average:</span> <span id="airDataValueAvg"></span><br>
                            <script type="text/javascript">
                                var arrayAirDataRaw = []
                                @for(d <- 0 until allDayAir.size()) {
                                    arrayAirDataRaw.push(@allDayAir.get(d))
                                }

                                displayAirData(arrayAirDataRaw)
                            </script>
                        </div> <!-- close body panel air quality -->
                    </div> <!-- close panel air quality-->
                </div> <!-- close col md 4 for air quality -->
            </div> <!-- close row 2 -->
        </div> <!-- close body container -->
    </body>

    <!-- button onclick events -->
    <script type="text/javascript">
        /*onclick button graph temperature*/
        $('#buttonTemp').on('click', function() {
            var p1 = @chartDatas.get(0);
            var p2 = "@chartDatas.get(1)".replace(/&quot;/g, '"');
            plotGraphLineTemp(p1, p2);
        });

        $('#buttonHum').on('click', function() {
            var p1 = @chartDatasHumidity.get(0);
            var p2 = "@chartDatasHumidity.get(1)".replace(/&quot;/g, '"');
            plotGraphLineTherm(p1, p2);
        });
        /*Empties the modal when it is closed ( so that it can be updated if needed)*/
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find("#graph").empty();
        });
    </script>   
</html>

