@(chartDatas: List[String], dayDatas: List[String], chartDatasHumidity: List[String], mongoDataTempRaw: List[String], mongoDataTempAgr: List[String], mongoDataHumiRaw: List[String], mongoDataHumiAgr: List[String], mongoDataWindSRaw: List[String], mongoDataWindSAgr: List[String], mongoDataWindDRaw: List[String], mongoDataWindDAgr: List[String], mongoDataRainRaw: List[String], mongoDataRainAgr: List[String], mongoDataAirRaw: List[String], mongoDataAirAgr: List[String], allDayTemp: List[Object], allDayHumi: List[Object], allDayWindS: List[Object], allDayWindD: List[Object], allDayRain: List[Object], allDayAir: List[Object])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>WHAT ARE YOU DOING STALKER</title>
        <!-- load d3.min.js and c3.min.js/css-->
        <script src="@routes.Assets.versioned("javascripts/lib/d3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/c3.min.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/lib/c3.min.css")" rel="stylesheet" media="screen">

        <!-- load jquery before bootstrap-->
        <script src="@routes.Assets.versioned("javascripts/lib/jquery-2.2.4.js")" type="text/javascript"></script>

        <!-- load bootstrap js and css (bootstrap JS MUST be after jquery) -->
        <script src="@routes.Assets.versioned("javascripts/lib/bootstrap.min.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/lib/bootstrap.min.css")" rel="stylesheet" media="screen">

        <!-- load custom assets in public/javascripts for js files and public/stylesheets for css files -->
        <script src="@routes.Assets.versioned("javascripts/therm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/displayData.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lineTemp.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lineTherm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/gaugeChart.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/compass.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" media="screen">

    </head>

    <body>
        <!-- MODAL -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                        <!-- <h4 class="modal-title" id="myModalLabel">Temperature</h4>  -->
                    </div>
                    <div class="modal-body">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="" data-target="#tab1" data-toggle="pill">Today</a></li>
                                <li><a href="" data-target="#tab2" data-toggle="pill">Last 7 days</a></li>
                                <li><a href="" data-target="#tabCustom" data-toggle="pill">Custom duration</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div id="graphToday"></div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div id="graph7Days"></div>
                                </div>
                                <div class="tab-pane" id="tabCustom">
                                    <div class="form-group" onchange="refreshValue()">
                                        <label class="control-label col-md-1" for="month">Month</label>
                                        <div class="col-md-4">
                                            <select id="month" class="form-control">
                                                <option></option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>                                           
                                            </select>
                                        </div>

                                        <label class="control-label col-md-1" for="year">Year</label>
                                        <div class="col-md-4">
                                            <select id="year" class="form-control">
                                                <option></option>
                                                <option>2017</option>
                                                <option>2016</option>
                                                <option>2015</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br> <br> <br>
                                    <div id="graphCustom"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="main">
            <div class="container">
                <span class="title">Weather observation app.</span><br>
                <span class="subtittle">still not even alpha version aka. "blackie". No, it really is, stop asking.</span>
            </div>
        </header>

        <!-- PANELS -->
        <div class="container" id="main-container"> <!-- open body container -->
            <div class="row"> <!-- open row 1-->
                <div class="col-md-4"> <!-- col md 4 for panel temperature -->
                    <div class="panel panel-default" id="panel1"> <!-- panel temperature -->
                        <div class="panel-heading" id="panel-header-box"> <!-- panel temperature header -->
                            <h1 id="header-rowcol">Temperature</h1>
                        </div>
                        <div class="body-panel-content">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div id="thermometer"></div>
                                    </td>
                                    <td id="rightColumn">
                                        <span id="dataHeader">Latest temperature</span><br><span class="dataValue" id="tempDataValueCur"></span><span class="timeValue" id="tempDataTimeCur"></span><br>
                                        <span id="dataHeader">Max today</span><br><span class="dataValue" id="tempDataValueMax"></span><span class="timeValue" id="tempDataTimeMax"></span><br>
                                        <span id="dataHeader">Min today</span><br><span class="dataValue" id="tempDataValueMin"></span><span class="timeValue" id="tempDataTimeMin"></span><br>
                                        <span id="dataHeader">Avg today</span><br><span class="dataValue" id="tempDataValueAvg"></span><span class="timeValue" id="tempDataTimeAvg"></span>
                                        <script type="text/javascript">
                                            var arrayTempDataRaw = []
                                            @for(d <- 0 until allDayTemp.size()) {
                                                arrayTempDataRaw.push(@allDayTemp.get(d))
                                            }

                                            displayTempData(arrayTempDataRaw)
                                            var arrayTempTherm = []
                                            @for(d <- 0 until mongoDataTempRaw.size()) {
                                                var append = "arrayTempTherm@mongoDataTempRaw.get(d)".replace(/&quot;/g, '\"')
                                                eval(append)
                                            }

                                            plotThermometer(arrayTempDataRaw);
                                            
                                        </script>
                                        <button class="btn btn-primary btn-lg" id="buttonTemp" data-toggle="modal" data-target="#myModal">Graph</button>
                                    </td> <!-- close right column -->
                                </tr>
                            </table>
                        </div> <!-- close body panel temperature -->
                    </div> <!-- close panel temperature -->
                </div> <!-- close col md 4 for temperature -->

                <div class="col-md-4"> <!-- open col md 4 for panel humidity -->
                    <div class="panel panel-default" id="panel2"> <!-- open panel humidity -->
                        <div class="panel-heading" id="panel-header-box"> <!-- open panel humidity header -->
                            <h1 id="header-rowcol">Humidity</h1>
                        </div> <!-- close panel humidity header -->
                        <div class="body-panel-content">
                            <div id="humidity-gauge"></div>
                            <script type="text/javascript">

                                var arrayGaugeHumidity = [];
                                @for(d <- 0 until dayDatas.size()) {
                                    var tmp = "@dayDatas.get(d)".split("|");
                                    arrayGaugeHumidity.push([parseInt(tmp[0]),tmp[1].slice(0,-3 ).replace(":", "H")]);
                                    drawGaugeChart(20);
                                }
                            </script>
                            <hr>
                            <table>
                                <tr>
                                    <td class="col-md-2">
                                        <span id="dataHeader">Information 1:</span><span id="humDataValue"> value 1</span><br>
                                        <span id="dataHeader">Information 2:</span><span id="humDataValue"> value 2</span><br>
                                        <div id="dots">
                                            .<br>
                                            .<br>
                                            .<br>
                                        </div>
                                        <span id="dataHeader">Information n:</span><span id="humDataValue"> value n</span><br>
                                    </td>
                                    <td class="col-md-2" id="humRightColumn">
                                        <button class="btn btn-primary btn-lg" id="buttonHum" data-toggle="modal" data-target="#myModal">Graph</button>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- close body panel humidity -->
                    </div> <!-- close panel -->
                </div> <!-- close col-md-4 -->

                <div class="col-md-4"> <!-- col md 4 for panel wind -->
                    <div class="panel panel-default" id="panel3"> <!-- panel wind -->
                        <div class="panel-heading" id="panel-header-box"> <!-- panel wind header -->
                            <h1 id="header-rowcol">Wind</h1>
                        </div> <!-- close panel wind header -->
                       <div class="body-panel-content">
                            <div style="text-align: center;">WIND SPEED</div>
                            <span id="dataHeader">Latest value:</span> <span id="windDataValueWSCur"></span> || <span id="windDataTimeWSCur"></span><br>
                            <span id="dataHeader">Today's min:</span> <span id="windDataValueWSMin"></span> || <span id="windDataTimeWSMin"></span><br>
                            <span id="dataHeader">Today's max:</span> <span id="windDataValueWSMax"></span> || <span id="windDataTimeWSMax"></span><br>
                            <span id="dataHeader">Today's average:</span> <span id="windDataValueWSAvg"></span><br>

                            <div style="text-align: center;">WIND DIRECTION</div>
                            <span id="dataHeader">Latest value:</span> <span id="windDataValueWDCur"></span> || <span id="windDataTimeWDCur"></span><br>
                            <span id="dataHeader">Today's min:</span> <span id="windDataValueWDMin"></span> || <span id="windDataTimeWDMin"></span><br>
                            <span id="dataHeader">Today's max:</span> <span id="windDataValueWDMax"></span> || <span id="windDataTimeWDMax"></span><br>
                            <span id="dataHeader">Today's average:</span> <span id="windDataValueWDAvg"></span><br>

                            <script type="text/javascript">
                                //wind speed
                                var arrayWindSDataRaw = [];
                                @for(d <- 0 until allDayWindS.size()) {
                                    arrayWindSDataRaw.push(@allDayWindS.get(d))
                                }
                                displayWindSData(arrayWindSDataRaw);

                                //wind direction
                                var arrayWindDDataRaw = [];
                                @for(d <- 0 until allDayWindD.size()) {
                                    arrayWindDDataRaw.push(@allDayWindD.get(d))
                                }
                                displayWindDData(arrayWindDDataRaw);
                            </script>
                        </div>
                    </div> <!-- close panel wind-->
                </div> <!-- close col md 4 for panel wind-->
            </div>

            <div class="row"> <!-- open row 2-->
                <div class="col-md-4"> <!-- open col panel rain -->
                    <div class="panel panel-default" id="panel4"> <!-- open panel rain -->
                        <div class="panel-heading" id="panel-header-box"> <!-- open header panel rain -->
                            <h1 id="header-rowcol">Rain</h1>
                        </div> <!-- close header panel rain -->
                        <div class="body-panel-content"> <!-- open body panel rain -->
                            <span id="dataHeader">Latest value:</span> <span id="rainDataValueCur"></span> || <span id="rainDataTimeCur"></span><br>
                            <span id="dataHeader">Today's min:</span> <span id="rainDataValueMin"></span> || <span id="rainDataTimeMin"></span><br>
                            <span id="dataHeader">Today's max:</span> <span id="rainDataValueMax"></span> || <span id="rainDataTimeMax"></span><br>
                            <span id="dataHeader">Today's average:</span> <span id="rainDataValueAvg"></span><br>
                            <script type="text/javascript">
                                var arrayRainDataRaw = []
                                @for(d <- 0 until allDayRain.size()) {
                                    arrayRainDataRaw.push(@allDayRain.get(d))
                                }

                                displayRainData(arrayRainDataRaw)
                            </script>
                        </div> <!-- close body panel rain -->
                    </div> <!-- close panel rain-->
                </div> <!-- close col md 4 for panel rain -->

                <div class="col-md-4"> <!-- open col panel air quality -->
                    <div class="panel panel-default" id="panel5"> <!-- open panel air quality -->
                        <div class="panel-heading" id="panel-header-box"> <!-- open header panel air quality -->
                            <h1 id="header-rowcol">Air quality</h1>
                        </div> <!-- close header panel air quality -->
                        <div class="panel-body-content"> <!-- open body panel air quality -->
                            <span id="dataHeader">Latest value:</span> <span id="airDataValueCur"></span> || <span id="airDataTimeCur"></span><br>
                            <span id="dataHeader">Today's min:</span> <span id="airDataValueMin"></span> || <span id="airDataTimeMin"></span><br>
                            <span id="dataHeader">Today's max:</span> <span id="airDataValueMax"></span> || <span id="airDataTimeMax"></span><br>
                            <span id="dataHeader">Today's average:</span> <span id="airDataValueAvg"></span><br>
                            <script type="text/javascript">
                                var arrayAirDataRaw = []
                                @for(d <- 0 until allDayAir.size()) {
                                    arrayAirDataRaw.push(@allDayAir.get(d))
                                }

                                displayAirData(arrayAirDataRaw)
                            </script>
                        </div> <!-- close body panel air quality -->
                    </div> <!-- close panel air quality-->
                </div> <!-- close col md 4 for air quality -->
            </div> <!-- close row 2 -->
        </div> <!-- close body container -->
    </body>

    <!-- button onclick events -->
    <script type="text/javascript">
        var arrayMongoTempDataRaw = []
            @for(d <- 0 until mongoDataTempRaw.size()) {
                var appendTR = "arrayMongoTempDataRaw@mongoDataTempRaw.get(d)".replace(/&quot;/g, '\"')
                eval(appendTR)
            }

        var arrayMongoDataTempAgr = []
            @for(d <- 0 until mongoDataTempAgr.size()) {
                var appendTA = "arrayMongoDataTempAgr@mongoDataTempAgr.get(d)".replace(/&quot;/g, '\"')
                eval(appendTA)
            }
    

        /*onclick button graph temperature*/
        $('#buttonTemp').on('click', function() {
            plotGraphLineTempRaw7Days(arrayMongoTempDataRaw);
            plotGraphLineTempRaw1Day(arrayMongoTempDataRaw);
        });

        $('#buttonHum').on('click', function() {
            var p1 = @chartDatasHumidity.get(0);
            var p2 = "@chartDatasHumidity.get(1)".replace(/&quot;/g, '"');
            plotGraphLineTherm(p1, p2);
        });
        /*Empties the modal when it is closed ( so that it can be updated if needed)*/
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find("#graphToday").empty();
            $(e.target).removeData("bs.modal").find("#graph7Days").empty();
        });

        function toJSMonth(monthAlpha) {
            switch(monthAlpha) {
                case "January":
                    return 0;
                case "February":
                    return 1;
                case "March":
                    return 2;
                case "April":
                    return 3;
                case "May":
                    return 4;
                case "June":
                    return 5;
                case "July":
                    return 6;
                case "August":
                    return 7;
                case "September":
                    return 8;
                case "October":
                    return 9;
                case "November":
                    return 10;
                case "December":
                    return 11;
                default:
                    console.log("Error in month selection");
            }
        }

        function refreshValue() {
            var monthValue = monthValue = document.getElementById("month").value;
            var yearValue = yearValue = document.getElementById("year").value;
            if ((yearValue == "") || ((yearValue == "") && (monthValue == ""))) {
                document.getElementById("graphCustom").innerHTML = "Please select either a year alone or a month + year";
            } else if (monthValue == "") {
                document.getElementById("graphCustom").innerHTML = "";
                var type = "year";
                var dateY = yearValue;
                var dateM = "";
                plotGraphLineTempCustom(arrayMongoDataTempAgr, type, dateM, dateY);
            } else {
                document.getElementById("graphCustom").innerHTML = "";
                var type = "month";
                var dateY = yearValue;
                var dateM = toJSMonth(monthValue);
                plotGraphLineTempCustom(arrayMongoDataTempAgr, type, dateM, dateY);
            }
        };
    </script>   
</html>

